.register-employee{
    background-image: url('../../images/emile-guillemot-ci7gkM_29wA-unsplash.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}