.button {
    width: 80%;
    background: rgb(66, 223, 244);
    background: linear-gradient(90deg, rgba(66, 223, 244, 1) 0%, rgba(25, 130, 197, 1) 100%);
    border-radius: 30px;
    width: 85%;
    border: none;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
}
